In [1]:
import numpy as np
import pandas as pd
import pandas_datareader.data as wb
import matplotlib.pyplot as plt

In [20]:
BRK = wb.DataReader('BRK-A', data_source='yahoo', start='1980-1-1')

In [21]:
BRK.head()

             Open   High    Low  Close  Volume  Adj Close
Date
1980-03-17  290.0  310.0  290.0  290.0   10000      290.0
1980-03-18  290.0  290.0  290.0  290.0       0      290.0
1980-03-19  290.0  310.0  290.0  290.0   20000      290.0
1980-03-20  290.0  290.0  290.0  290.0       0      290.0
1980-03-21  290.0  290.0  290.0  290.0       0      290.0

In [22]:
BRK.tail()

                Open      High       Low     Close  Volume  Adj Close
Date
2017-05-05  250530.0  250530.0  249100.0  250000.0     400   250000.0
2017-05-08  250000.0  250000.0  246401.0  247160.0     300   247160.0
2017-05-09  247750.0  247940.0  245000.0  246000.0     400   246000.0
2017-05-10  245800.0  245850.0  245100.0  245850.0     400   245850.0
2017-05-11  245770.0  245770.0  243770.0  245240.0     200   245240.0

# Simple Rate of Return

$$
\frac{P_1 - P_0}{P_0} = \frac{P_1}{P_0} - 1
$$

In [23]:
BRK['simple_return'] = (PG['Adj Close'] / PG['Adj Close'].shift(1)) - 1
print(BRK['simple_return'])

Date
1980-03-17         NaN
1980-03-18         NaN
1980-03-19         NaN
1980-03-20         NaN
1980-03-21         NaN
1980-03-24         NaN
1980-03-25         NaN
1980-03-26         NaN
1980-03-27         NaN
1980-03-28         NaN
1980-03-31         NaN
1980-04-01         NaN
1980-04-02         NaN
1980-04-03         NaN
1980-04-07         NaN
1980-04-08         NaN
1980-04-09         NaN
1980-04-10         NaN
1980-04-11         NaN
1980-04-14         NaN
1980-04-15         NaN
1980-04-16         NaN
1980-04-17         NaN
1980-04-18         NaN
1980-04-21         NaN
1980-04-22         NaN
1980-04-23         NaN
1980-04-24         NaN
1980-04-25         NaN
1980-04-28         NaN
                ...
2017-03-30   -0.004415
2017-03-31   -0.003880
2017-04-03   -0.001892
2017-04-04    0.002565
2017-04-05    0.000667
2017-04-06   -0.006335
2017-04-07   -0.001902
2017-04-10    0.002914
2017-04-11    0.003464
2017-04-12    0.005679
2017-04-13   -0.003100
2017-04-17    0.003999
2017-04-18    0.004536
2017-04-19   -0.005660
2017-04-20   -0.003013
2017-04-21   -0.007948
2017-04-24    0.010494
2017-04-25    0.005025
2017-04-26   -0.025111
2017-04-27   -0.000570
2017-04-28   -0.004105
2017-05-01   -0.002748
2017-05-02   -0.009990
2017-05-03    0.002436
2017-05-04    0.000231
2017-05-05    0.000578
2017-05-08    0.000578
2017-05-09   -0.001733
2017-05-10    0.001042
2017-05-11   -0.003700
Name: simple_return, dtype: float64